body.dark-mode {
  background-color: #202124;
  color: white;
}
body.light-mode {
  background-color: white;
  color: black;
}
table {
  border-collapse:collapse;
  border: 1px solid #5f6368;
}
.dark-mode {
  border: 1px solid #5f6368;
}
.light-mode {
  border: 1px solid #b3adad;
}
