body {
  font-family: roboto,sans-serif;
}
.table {
  margin-left:auto;
  width: 750px;
  margin-right:auto;
}
body.dark-mode {
  background-color: #202124;
  color: white;
}
body.light-mode {
  background-color: white;
  color: black;
}
table {
  border-collapse:collapse;
  border: 1px solid #5f6368;
}
table.dark-mode {
  border: 1px solid #5f6368;
}
table.light-mode {
  border: 1px solid #b3adad;
}
td {
  border:1px solid #5f6368;
  text-align:center;
  padding:5px;
  background: #171717;
}
td.dark-mode {
  background: #171717;
}
td.light-mode {
  background: #ffffff;
}
th {
  background: #302c2c;
}
th.dark-mode {
  
}
th.light-mode {
  
}
