/* light theme definitions */
body {
  --light-theme-definition-body-background: #fff;
  --light-theme-definition-body-foreground: #000;
  --light-theme-definition-table-background: #fff;
  --light-theme-definition-table-border: #b3adad;
  --light-theme-definition-link-color: #1A0DAB;
}
/* dark theme definitions */
body {
  --dark-theme-definition-body-background: #202124;
  --dark-theme-definition-body-foreground: #fff;
  --dark-theme-definition-table-background: #171717;
  --dark-theme-definition-table-border: #5f6368;
  --dark-theme-definition-link-color: #8AB4F8;
}

/* light theme first */
body {
  --color-bg: var(--light-theme-definition-body-background);
  --color-text: var(--light-theme-definition-body-foreground);
  --color-table-bg: var(--light-theme-definition-table-background);
  --color-table-border: var(--light-theme-definition-table-border);
  --link-color: var(--light-theme-definition-link-color);
}
body.dark-mode {
  --color-bg: var(--dark-theme-definition-body-background);
  --color-text: var(--dark-theme-definition-body-foreground);
  --color-table-bg: var(--dark-theme-definition-table-background);
  --color-table-border: var(--dark-theme-definition-table-border);
  --link-color: var(--dark-theme-definition-link-color);
}
/* dark them when preferred */
@media (prefers-color-scheme: dark) {
  body {
    --color-bg: var(--dark-theme-definition-body-background);
    --color-text: var(--dark-theme-definition-body-foreground);
    --color-table-bg: var(--dark-theme-definition-table-background);
    --color-table-border: var(--dark-theme-definition-table-border);
    --link-color: var(--dark-theme-definition-link-color);
  }
  body.light-mode {
    --color-bg: var(--light-theme-definition-body-background);
    --color-text: var(--light-theme-definition-body-foreground);
    --color-table-bg: var(--light-theme-definition-table-background);
    --color-table-border: var(--light-theme-definition-table-border);
    --link-color: var(--light-theme-definition-link-color);
  }
}

/* website styles */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: roboto, sans-serif;
}
.text-container {
  max-width:75%;
  margin-left:auto;
  margin-right:auto;
}
.table-container {
  margin-left: auto;
  width: 750px;
  margin-right: auto;
}
table {
  border: 1px solid var(--color-table-border);
  border-collapse: collapse;
}
th {
  background: var(--color-table-bg);
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 5px;
}
td {
  background: var(--color-table-bg);
  border: 1px solid var(--color-table-border);
  text-align: center;
  padding: 5px;
}
a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color);
}
