name: Build

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 21
          distribution: "adopt"

      - name: Checkout Repository
        uses: actions/checkout@v6.0.0

      - name: Compile with Gradle
        run: gradle kotlinUpgradeYarnLock build

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1.0.13
        with:
          source: ./build/dist/js/productionExecutable
          destination: ./_site
