name: Build and Deploy

on:
  push:
    branches: ["main"]

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          java-version: 21
          distribution: "adopt"

      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Compile with Gradle
        run: chmod +x ./gradlew && ./gradlew kotlinUpgradeYarnLock build

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1.0.13
        with:
          source: ./build/dist/js/productionExecutable
          destination: ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0

  deploy:
    name: Deploy
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
